# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/
JustJava.iml
app/app.iml
app/build/
app/libs/
app/src/main/res/drawable/
build/
local.properties
.idea/libraries/
.idea/workspace.xml
